/*!
  @theme don
*/

/* @import 'uncover'; */

@import "default";

:root{
  --font-size-xs: .675rem;
  --don-lichtblauw-200: #cce7f4;
}

section {
  align-content: start !important;
  background-image: url("https://dvh.github.io/slideshows/themes/header.svg");
  background-repeat: no-repeat;
}
h2 {
  padding-top: 10px;
  padding-bottom: 0px;
  color: #017bc6;
}
ol,
ul {
  padding-left: 1em !important;
}
li::marker {
  color: #017bc6;
}
section.title {
  background-color: #017bc6 !important;
  color: #ffffff !important;
}
section.title a {
  color: #ffffff !important;
  text-decoration: underline;
}
section.title h1 {
  color: var(--don-lichtblauw-200) !important;
}
section.title h1 code {
  color: white;
}
section h1, section.title h2 {
  padding-top: 180px;
  color: #ffffff !important;
  text-align: center;
  font-size: 2em;
}
section img {
  max-height: 500px;
}
section.image h2 {
  display: none;
}
section.image {
  background-image: none;
  padding: 0 !important;
  text-align: center;
}
section.image img {
  max-height: 720px;
}

.horizontal-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: var(--font-size-xs);
}

.horizontal-list li {
  /* background-color: red; */
  margin-top: 0;
  padding: 0 1.7rem 0 1rem;
  color: var(--don-lichtblauw-200) !important;
}

.horizontal-list li::marker {
  color: white;
}

.horizontal-list li:first-child::marker {
  display: none !important;
  content: "";
}

.horizontal-list li::after&last-child{
  /* content: ""; */
}
